<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
        <!-- <h1>Welcome to my Pantry</h1> -->
        <h1>Welcome, <%= user.username %>!</h1>
        <h2>Your Pantry:</h2>
        <% if (pantryItems.length > 0) { %>
            <ul>
                <% pantryItems.forEach(function(item) { %>
                    <li>
                        <a href="/users/<%=user._id%>/foods/<%=item._id%>">
                            <%= item.name %> - <%=item.brand%><!-- Display the food item name -->
                        </a>
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>There are no items in this pantry.</p>
                <% } %>

                    <form action="/users/<%=user._id%>/foods/"></form>

                    <a href="/users/<%=user._id%>/foods/new">Add New Item</a>
</body>

</html>